name: Mirror ROMs to GitHub Releases

on:
  workflow_dispatch:

jobs:
  gsi_lineage21:
    runs-on: ubuntu-latest
    steps:
      - name: Download LineageOS 19.1 GSI (arm64_bvN)
        run: |
          curl -L --retry 999 --retry-delay 10 --retry-all-errors \
          -o lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz \
          https://downloads.sourceforge.net/project/andyyan-gsi/lineage-19.x/lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz?ts=gAAAAABpVAXIzphNqDHuAeaH_wPlb9Q_SLQKQDFvRJZ4zIjplUnZXrk282MkaNDRv8R1VQeul8Y1iPik2ill_QKGVLHW2O1JaA%3D%3D&use_mirror=cytranet-dal&r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fandyyan-gsi%2Ffiles%2Flineage-19.x%2Flineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz%2Fdownload

      - name: Generate checksum
        run: sha256sum lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz > lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz.sha256

      - name: Upload Release (GSI)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: lineage19.1-gsi-arm64-bvN-20250606
          name: "LineageOS 19.1 GSI | arm64_bvN | 2025-06-06"
          body: |
            Unofficial mirror for stability.
            Source: https://sourceforge.net/projects/andyyan-gsi/
          files: |
            lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz
            lineage-19.1-20250606-UNOFFICIAL-arm64_bvN.img.gz.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
