name: Mirror ROMs to GitHub Releases

on:
  workflow_dispatch:

jobs:
  gsi_lineage21:
    runs-on: ubuntu-latest
    steps:
      - name: Download LineageOS 21 GSI (arm64_bvN)
        run: |
          curl -L --retry 999 --retry-delay 10 --retry-all-errors \
          -o lineage-21.0-20250621-UNOFFICIAL-arm64_bvN.img.gz \
          https://downloads.sourceforge.net/project/andyyan-gsi/lineage-20-td/lineage-20.0-20251021-UNOFFICIAL-arm64_bvN.img.gz

      - name: Generate checksum
        run: sha256sum lineage-20.0-20251021-UNOFFICIAL-arm64_bvN.img.gz > lineage-20.0-20251021-UNOFFICIAL-arm64_bvN.img.gz.sha256

      - name: Upload Release (GSI)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: lineage20-gsi-arm64-bvN-20251021
          name: "LineageOS 20 GSI | arm64_bvN | 2025-10-21"
          body: |
            Unofficial mirror for stability.
            Source: https://sourceforge.net/projects/andyyan-gsi/
          files: |
            lineage-20.0-20251021-UNOFFICIAL-arm64_bvN.img.gz
            lineage-20.0-20251021-UNOFFICIAL-arm64_bvN.img.gz.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
